@use '../util/' as *;

.container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(35);
    border-bottom: rem(1.5) solid var(--grayish-blue);
    padding: rem(20) 0 rem(37) 0;
    margin: rem(10) auto rem(40) auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(mobile) {
        height: rem(0);
        margin-bottom: 0;
        margin-top: rem(15);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}